* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-family: "Roboto";
  font-size: 18px;
}

/* Loader */
.loader {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #d6b5ff;
  opacity: 1;
  animation: loader 5s linear forwards;
  position: fixed;
}

@keyframes loader {
  0% {
    opacity: 0;
    z-index: 100;
  }
  20% {
    opacity: 0.8;
    z-index: 100;
  }
  80% {
    opacity: 0.8;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.ball {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #278870;
  border-radius: 50%;
  margin-top: 15px;
  animation: level-up 1.5s ease-in-out 2 both;
  transform: scale(1);
  animation-delay: 1s;
  z-index: 200;
  opacity: 1;
}

.ball:nth-child(2) {
  animation-delay: 1.3s;
}

.ball:nth-child(3) {
  animation-delay: 1.6s;
}

.ball:nth-child(4) {
  animation-delay: 1.9s;
}

.ball:nth-child(5) {
  animation-delay: 2.2s;
}

@keyframes level-up {
  0%, 40%, 100% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-60px) scaleY(2.5) scaleX(1.5);
    background-color: #99e2d0;
  }
}
/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
header img {
  width: 162px;
  height: auto;
  margin-top: 10px;
}

/* location */
.location {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  padding-left: 60px;
  margin-top: 4px;
}
.location__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #353535;
}

#city_location {
  border: none;
  background-color: transparent;
  margin-left: 5px;
  padding-left: 10px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/* entete */
.entete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.entete h1 {
  margin: 39px 58px 0px 42px;
  text-align: center;
}
.entete p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin: 18px 26px 0px 34px;
  text-align: center;
}
.entete button {
  color: white;
  border: none;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin: 25px 0px 57px 0px;
  width: 186px;
  height: 50px;
  transition: all 0.3s ease-in-out 0.1s;
}
.entete button:hover {
  filter: brightness(1.15);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease-in-out 0.1s;
  cursor: pointer;
}

/* fonctionnement */
.fonctionnement {
  margin: 48px 20px 68px 20px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.fonctionnement__block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fonctionnement p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.fonctionnement__block__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.2s;
}
.fonctionnement__block__card__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  font-size: 15px;
  background-color: #9356dc;
  padding: 5px;
  color: white;
  z-index: 2;
}
.fonctionnement__block__card__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 34px;
  gap: 27px;
  z-index: 1;
  width: 100%;
  height: 73px;
  margin-left: -12.51px;
  background-color: #f6f6f6;
  transition: all 0.3s ease-in-out 0.2s;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement__block__card__content .fa-solid {
  color: #7e7e7e;
  transition: all 0.3s ease-in-out 0.2s;
}

.fonctionnement__block__card:hover {
  transform: scale(1.04);
}
.fonctionnement__block__card:hover .fa-solid {
  color: #9356dc;
}
.fonctionnement__block__card:hover .fonctionnement__block__card__content {
  background-color: #f5edff;
}

/** restaurant **/
.restaurant {
  padding: 55px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f6f6f6;
}

.new {
  z-index: 10;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 80px;
  height: 29px;
  background-color: #99e2d0;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.restaurant__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurant__container__card {
  display: flex;
  flex-direction: column;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 0;
  width: 100%;
  position: relative;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.restaurant__container__card:hover {
  transform: scaleY(1.04);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  filter: brightness(1.1);
}

.restaurant p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
}

.restaurant h3 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}

.restaurant__container__card img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.restaurant__container__card__describ__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  font-size: 16px;
}

.restaurant__container__card__describ {
  display: flex;
  flex-direction: row;
  padding: 16px 25px 0px 13px;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.restaurant .fa-regular {
  margin-right: -28px;
}

.restaurant .fa-solid {
  background-image: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.1s;
}

.restaurant .fa-solid:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/** footer **/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  gap: 4px;
  padding: 22px 0px 22px 25px;
}
footer .footer-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
}
footer .footer-list .footer-list__content a {
  color: white;
}

.link-footer {
  padding-left: 8px;
}

.link-footer2 {
  padding-left: 2px;
}

/*Media Queries Tablette*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
  header {
    box-shadow: none;
  }
  header img {
    width: 200px;
  }
  .fonctionnement {
    margin: 48px 50px 68px 50px;
    gap: 25px;
    flex-direction: column;
  }
  .fonctionnement__block {
    flex-direction: row;
    gap: 30px;
  }
  .fonctionnement__block__card {
    width: 40%;
  }
  .fonctionnement__block__card__content {
    gap: 15px;
    padding-right: 10px;
  }
  .restaurant {
    padding-left: 50px;
    padding-right: 50px;
  }
  .restaurant__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
  }
  .restaurant__container__card {
    width: 46%;
  }
  footer {
    padding-left: 50px;
  }
}
/*Media Queries Desktop*/
@media screen and (min-width: 1024px) {
  .fonctionnement {
    margin-left: 180px;
    margin-right: 180px;
  }
  .restaurant {
    padding-left: 180px;
    padding-right: 180px;
  }
  footer {
    flex-direction: row-reverse;
    padding-right: 60px;
    padding-bottom: 14px;
    height: 114px;
  }
  footer .footer-list {
    flex-direction: row !important;
    align-items: self-end;
    margin-right: 50px;
    gap: 20px;
    padding-bottom: 15px;
  }
  .footer-list__contentpad {
    margin-left: 30px;
  }
  .logo-footer {
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
